.content {
    font-family: "Montserrat", sans-serif;
    margin: 0 60px;
}

.banner-title {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-text {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

/* .banner {
    padding: 0 60px;
} */

.banner-img {
    background-image: url(https://www.hydraulic-master.com/img/cms/category/banner.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px -5px;
    margin-bottom: 30px;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 95px 0;
}

.banner-info-button {
    background-color: rgba(0, 113, 188, 0.72);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.widgets-nav {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 24px 0 16px 0;
}

.widgets-title {
    font-size: 26px;
    display: block;
    margin: 0;
}

.widgets-view-all {
    font-size: 15px;
    color: rgb(148, 148, 148);
    font-weight: 500;
    text-align: right;
    align-content: right;
}